<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- <ul>
        <a href="/"><li>home page</li></a>
        <a href="/favorite-quotes"><li>favorite-quotes</li></a></ul> -->

       <%- include('layout/header')%>
    </header>
    <main>
        <% data.forEach(el=>{ %>
       <div>
        <form action="/" method="POST">
           <h1><%=el.character%></h1>
           <input type="hidden" name="chart" value="<%=el.character%>">
           <p><%=el.quote%></p>
           <input type="hidden" name="qoute" value="<%=el.quote%>"> 
           <img src="<%=el.image%>" alt="">  
           <input type="hidden" name="img" value="<%=el.image%>">
               <button type="submit">addTofaveoret</button>
           </form>
       </div> 
       <% }) %>
    </main>
    <footer></footer>
</body>
</html>